.cardContainer {
  &_searchBar,
  &_pageNum {
    position: relative;
    display: flex;
    justify-content: space-between;
    &-input {
      border: none;
      background-color: $color-primary;
      border-radius: 2rem;
      font-family: inherit;
      color: white;
      padding: 1rem 0;
      padding-left: 2.5rem;
      width: $input-width;

      &::placeholder {
        color: white;
        opacity: 0.8;
      }
      &:focus {
        outline: none;
      }
    }
    .input-2 {
      width: 20%;
      @include respond(tab-pot) {
        width: 40%;
      }
      @include respond(phone) {
        &::placeholder {
          font-size: 1.2rem;
        }
      }
    }
    &-img {
      position: absolute;
      left: calc($input-width - 4%);
      @include respond(tab-pot) {
        left: calc($input-width - 5%);
      }
      @include respond(phone) {
        left: calc($input-width - 6%);
      }
      transform: translateY(-50%);
      width: 2rem;
      top: 50%;
      color: white;
    }
  }
  &_heading {
    h2 {
      font-size: 1.8rem;
      font-weight: 500;
      color: $color-primary;
      margin-top: 3rem;
    }
  }
  &_content {
    margin-top: 2rem;
    max-height: 58vh;
    @include respond(tab-pot) {
      max-height: 100%;
    }
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 40%));
    @include respond(phone) {
      grid-template-columns: 100%;
    }
    gap: 3rem;
    padding: 2rem 2rem 2rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
