.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin: 2rem 0;
  &_logo {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 600;
    color: $color-primary;
  }
  &_heading {
    color: $color-primary;
    font-size: 1.4rem;
    @include respond(phone-med) {
      display: none;
      pointer-events: none;
    }
  }
  &_profile {
    text-align: right;
    img {
      width: 60%;
      border-radius: 50%;
    }
  }
}
